body
{
	background-image:url(pic1.jpg);
	background-size: 1700px 750px;
	background-repeat: no-repeat;
}

.login_page
{
	width: 400px;
	height: 200px;
	padding: 10% 0 0;
	margin: auto;	
	

}
.register_page
{
    position: relative;
	z-index: 1;
	background: #341c96;
	max-width: 360px;
	
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.register_page input
{
	font-family: sans-serif;
	background-color: #f2f2f2;
	width: 100%;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

button
{
	background: #9e6b43;
	text-transform: uppercase;
	width: 100%;
	padding: 15px;
	font-size: 25px;
	color: #ffffff;
	border: 0;
	cursor: pointer;
}

.register_page p
{
	color: #ffffff;
	margin: 10px auto;
}

.register_page button:hover,.register_page button:active
{
	background:#3a3917;
}

.register_page .register_form
{
	display: none;
}
